%script{:type => 'text/javascript', :src => "http://localhost:3000/grid/table_setup_js?format=js&table=#{table}"}
- form_for :column, Column.new, :url => {:controller => 'grid', :action => 'new_column', :table => table} do |f|
  = "Add Column: " 
  = f.text_field :column
  = f.submit
- form_for :column, Column.new, :url => {:controller => 'grid', :action => 'remove_column', :table => table} do |f|
  = "Remove Column: " 
  = f.select :column, CouchTable.new(table).keys.map { |x| [x,x] }
  = f.submit
%a{:href => "#", :id => "#{table}_addrow"}= "Add Row"

%table{:id => table}