jQuery(document).ready(function(){ 
  jQuery(<%= "'##{table_id}'" %>).jqGrid({
    url:'/grid/grid_data?format=xml&table=<%=@table%>',
    datatype: 'xml',
    mtype: 'GET',
    colNames: [<%= @columns.map { |x| "'#{pretty_title(@table,x)}'" }.join(",") %>],
    colModel: [ 
      <% @columns.each_with_index do |col,i| %>
        <%= column_desc(col,@table,@columns.size == i+1) %>
      <% end %> ],
	onSelectRow: function(id){
      alert('onSelectRow');
    },
    pager: jQuery('#pager'),
    rowNum:10,
    rowList:[10,20,30],
    sortname: 'id',
    sortorder: "desc",
    viewrecords: true,
    imgpath: '/themes/basic/images',
    caption: '<%=table%>',
    cellEdit: true,
    cellurl: '/grid/update?authenticity_token=<%=form_authenticity_token%>&table=<%=@table%>',
    cellSubmit: 'remote',
    altRows: true,
    gridComplefte: function() {
	  //str = $('#jqgh_city').text()
	  $('.grid_resize').append('<a href="http://cnn.com"> (-) </a>');
    }
  }); 
}); 

jQuery(document).ready(function(){
  jQuery(<%= "'##{table_id}_addrow'" %>).click(function() {
    jQuery(<%= "'##{table_id}'" %>).editGridRow( "new",{top: 1, left: 1, url: '/grid/update?authenticity_token=<%=form_authenticity_token%>', editData: {table: '<%=@table%>'}} );	
  })
});

$(document).ready( function() {
   $('#<%=@table%>_add_column_link').click(function() {
	  $('#<%=@table%>_add_column').show('slide')
  })   
});