%html
  %head
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAApCYnM8S-TSRBhQk16Ynr4BRMFDArna7TyLvN-BP2UPnpVPTTThTJtWBJwhvgDdYt37zadgzAjoYHSQ" type="text/javascript"></script>
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.jmap-r72'
    = stylesheet_link_tag 'base'
    = include_jquery_grid_javascript 
    = include_jquery_grid_css 
  %body
    = yield :layout