%html
  %head
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'base'
    = include_jqgrid_interface_js_and_css
    = javascript_include_tag 'grid_editing'
    = javascript_include_tag 'scrape'
  %body
    = yield :layout